bulbs = [
    ["192.168.0.201", "ceiling4"],
    ["192.168.0.202", "color"],
    ["192.168.0.203", "color"],
]
default_color = [255, 100, 220]
client_id = ""
client_secret = ""
refresh_token = ""
tv_api_url = "http://x.x.x.x:8001/api/v2/applications"
tv_api_key = ""
tv_device_id = ""

currently_playing_url = "https://api.spotify.com/v1/me/player/currently-playing"
player_url = "https://api.spotify.com/v1/me/player"
token_url = 'https://accounts.spotify.com/api/token'

[[light]]
name = ''
type = 'yee'
device_data = { 'ip' = '', 'model' = '' }

[[light]]
name = ''
type = 'tuya'
device_data = { 'protocol' = '3.3', 'deviceid' = '', 'localkey' = '', 'ip' = '' }